<!-- Counter section -->
<style type="text/css">
#counters{
	background-image: url('{{ file_url(content.field_icon['#items'].entity.uri.value) }}');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  	width: 100%;
  	padding: 100px 0px;
}
</style>
<section id="counters" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      {{content.field_counters}}
    </div>  
  </div>
</section>