<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp">
 	<img src="{{ file_url(content.field_icon['#items'].entity.uri.value) }}" alt="counter-images" class="img-responsive">
  	<p><span class='numscroller' data-min='1' data-max='{{ content.field_number_to_count.0 }}' data-delay='30' data-increment='10'>{{ content.field_number_to_count.0 }}</span> <p>    
    <p>{{ content.field_title.0 }}</p>
</div>