<!-- Contact section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center wow fadeInUp">
        <h2>{{content.field_title.0}}</h2> 
        <p>{{content.field_body.0}}</p>
      </div>
      <div class="col-md-12 wow fadeInUp">
        <form>
        	<div class="row">
            {{content.field_contact_form}}
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End contact section -->