<section id="company-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-6 company-detail-img wow fadeInLeft">
        <img src="{{ content.field_icon.0 }}" alt="company-images" class="img-responsive">
      </div>
      <div class="col-md-6 company-detail-description wow fadeInRight">
        <h2>{{ content.field_title.0 }}</h2>
        <p>{{ content.field_body.0 }} </p>
      </div>
    </div>
  </div>
</section>      