<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-8 service">
        <div class="row">
          <div class="col-md-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.1s">{{ content.field_title.0 }}</h2>
            <p  class="wow fadeInUp">{{ content.field_body.0 }}</p>
           </div>
           {{ content.field_welcome_section }}
        </div>
      </div>
      <div class="col-md-4 enquiry wow fadeInRight">
        <div class="enquiry-form">
          <h4>Enquiry?</h4>
          {{ content.field_enquiry_form}}
        </div>    
      </div>
    </div>
  </div>
</section>