<div class="col-md-6 wow fadeInLeft">
  <img src="{{ file_url(content.field_icon['#items'].entity.uri.value) }}" alt="services img" class="img-responsive">
  <div class="services-list">
    <h4>{{ content.field_title.0 }}</h4>
    <p>{{ content.field_description.0}}</p>
  </div>  
</div>