<section id="why-choose-us">
  <div class="container">
    <h3 class="text-center wow fadeInDown">Why Choose Us?</h3>
    <div class="row">
      <div class="col-md-6 why-choose-description wow fadeInLeft">
        <h2>{{ content.field_title.0 }}</h2>
        <p>{{ content.field_description.0 }} </p>
        <ul>
          {{ content.field_list }}
        </ul>
      </div>
      <div class="col-md-6 wow fadeInRight">
        <iframe width="560" height="425" src="{{ content.field_video_url.0 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
